extends layout


block content
    script.
        function changeto(num) {
            var maindiv = document.getElementById("main");
            var image2 = document.createElement("img");
            image2.setAttribute("src", "images/" + num + "girl.jpg");
            maindiv.appendChild(image2);}
    h1 Gallery of pic
    div(id='tab1' onclick="changeto('1')") tab1
    div(id='tab2' onclick="changeto('2')") tab2
    div(id='tab3' onclick="changeto('3')") twb3
    div(id='main')