extends layout



block content
        block js
                script.
                    function myFunction() {
                        var x = document.getElementById('txtBox').value;
                        document.getElementById('target').innerHTML = x;
                    }
        h1 welcome to the DOM based XSS attack page!
        p examples for attacks: (add < and close with the right tag)
            br
            | button onmouseover="alert(123)">hi
            br
            | b onmouseover=alert('Wufff!')>click me!
        p write your name:
        textarea(id='txtBox' onkeyup='myFunction()')
        p(id='target') your input:
        h1 hi #{txtBox}