extends layout


block content
    script.
        function changeto(num){
            var maindiv = document.getElementById("main");
            var image2=document.createElement("img");
            image2.setAttribute("src","images/"+num+"wonder.jpg");
            maindiv.innerHTML=image2;
        }
    h1 Gallery of pic
    div(id='tab1' onclick="changeto('1')")
    div(id='tab2' onclick="changeto('2')")
    div(id='tab3' onclick="changeto('3')")
    div(id='main')


        script.
            function openCity(evt, cityName) {
                // Declare all variables
                var i, tabcontent, tablinks;

                // Get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }

                // Get all elements with class="tablinks" and remove the class "active"
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }

                // Show the current tab, and add an "active" class to the button that opened the tab
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";

            }
            h1 Gallery of pic
            div(class = "tab")
            button(class="tablinks" onclick = "openCity(event, 'London')") London
            button(class="tablinks" onclick = "openCity(event, 'Paris')") Paris
            button(class = "tablinks" onclick = "openCity(event, 'Tokyo')") Tokyo


            div(id = "London" class= "tabcontent")
            h3 London
            p London is the capital city of England.div(id = "Paris" class= "tabcontent")
            h3 Paris
            p Paris is the capital of France.div(id = "Tokyo" class= "tabcontent")
            h3 Tokyo
            p Tokyo is the capital of Japan.function chooseTab(num) {
                var maindiv = document.getElementById("tabContent");
                var image2 = document.getElementById("image2");
                image2.setAttribute('src', "images/city" + num + ".jpg");
                //maindiv.appendChild(image2);
            }
            chooseTab('1');
            h1 Gallery of pic

            div(class = "tab" id = "tab1" onclick = "chooseTab('1')") London
            div(class = "tab" id = "tab2" onclick = "chooseTab('2')") Paris
            div(class = "tab" id = "tab3" onclick = "chooseTab('3')") Tokyo
            div(id = "tabContent" class = "tab")
            image(id = "image2")