extends layout

block content
  h1= title
  p(name="d") Welcome the #{title}
  form(name="Login", method="GET" action="/login" )
    div.input
      span.label Title
      input(type="text", name="user_name")
    div.input
      span.label Password
      input(type="password" name="password")
    div.actions
      input(type="submit", value="press me ")
  div
    h1  hello
    img(src="images/wonder.jpg")

