extends layout


block content
   block js
      script.
          var pagePosts = []; // create an empty array
          function buildTable() {
              var tblBody = document.getElementById("tbody");
              for (p in pagePosts) { /////////////NEED to loop in pagePost but dont find what is it and all member undefined
                  var cell = document.createElement("tr");
                  cell.innerHTML=p.txt;
                  cell.style.width="50px";
                  cell.style.height="50px";
                  tblBody.appendChild(cell)
              }

          }
          function addToDict() {
            var x = document.getElementById('txt_box').value;
            var firstPost = {
                titl: "first response!",
                txt: "hi there"
              }
              pagePosts.push(firstPost);
          }

   h1(name="h12") hi #{title}!
   div(id="Main")
       button(name='postcom' id='btn22' onclick='addToDict()')
       textarea(id='txt_box')
       table
           tbody(id='tbody')

   button(name="getPost" id="btn" onclick='buildTable()') Press Me

