extends layout


block content
   block js
      script.
          function buildTable(pagePosts) {
              var Body = document.getElementById("Main");
              var tbl = document.createElement("table");
              var tblBody = document.createElement("tbody");
              for (p in pagePosts) { /////////////NEED to loop in pagePost but dont find what is it and all member undefined
                  var cell = document.createElement("tr");
                  cell.setAttribute('id', p.txt)
                  tblBody.appendChild(cell)
              }
              tbl.appendChild(tblBody);
              Body.appendChild(tbl);
          }

   h1(name="h12") hi #{title}!
   div(id="Main")
   button(name="Post" id="btn" onclick="buildTable('#{pagePosts}')") Press Me
   form(name="Posting", method="POST" action="/massage" )
      div.input
         span.label post
         input(type="textArea",id="txt_f" name="txt_field" height="100")
      div.actions
         input(name="btn" type="submit" )
